name: Build Check
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install modules
        run: npm ci
      - name: Run build script
        run: npm run build
